NODE_ENV=development

NEXT_PUBLIC_WALLETCONNECT_KEY=35f812c4964ad150854e578fcb2792fb

NEXT_PUBLIC_NEXTAUTH_SECRET=6b72d4d9386d5628df32f03b257cead6a9e8d0afdf07a2dfe4c19b45ac50c90a

RPC_PROTOCOL=http
RPC_HOST=127.0.0.1
RPC_PORT=8545
NEXT_PUBLIC_CHAIN_ID=1337
NEXT_PUBLIC_RPC_URL=$RPC_PROTOCOL://$RPC_HOST:$RPC_PORT

NEXT_PUBLIC_CONTRACT_TOKEN=0xEeE35bA84d8e50c22b2725349f03669f58BcA701
NEXT_PUBLIC_CONTRACT_NFT=0xda6d4b28a0aAFd3298faa1278F92CFE6F66948E2
NEXT_PUBLIC_CONTRACT_PLATFORM=0x1b4F8FE64761Ab26Bb6dbebaBe10df324e87Ea46

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=database

DATABASE_URL=mysql://root:$MYSQL_ROOT_PASSWORD@mysql_db:3306/$MYSQL_DATABASE?schema=public"